{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% block title %}
    <title>Home</title>
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav>
        <div class="container nav-wrapper">
            <a href="{% url 'my_app:index' %}" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user == 'admin' %}
                   <li><a href="{% url 'admin:index' %}">管理</a></li>
                {% endif %}
                <li><a href="{% url 'login:logout' %}">登出</a></li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    <ul class="sidenav" id="mobile-demo">
        {% if user == 'admin' %}
           <li><a href="{% url 'admin:index' %}">管理</a></li>
        {% endif %}
        <li><a href="{% url 'login:logout' %}">登出</a></li>
    </ul>
    <div class="container">
        <br>
        {% block content %}
        {% if project_list %}
            <form id="project-form" class="col s12 m6" action="{% url 'my_app:index' %}" method="post">
                {% csrf_token %}
                <label for="select-year">筛选年份</label>
                <select class="browser-default" id="select-year" name="select-year" onchange="submit()">
                    <option value="" disabled selected>请选择年份</option>
                    {% if year_options %}
                        <option value="all">所有项目</option>
                        {% for year in year_options %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </form>
            {% if showSummary %}
                <ul class="collapsible z-depth-0">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>年度汇总</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col m6 s12">
                                    <label>项目数量</label>
                                    <br>
                                    <span>{{ summary.num_projects }}</span>
                                </div>
                                <div class="col m6 s12 offset-s6">
                                    <label>计划收入</label><br>
                                    <span>{{ summary.receivables }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6 s12">
                                    <label>实际收入</label>
                                    <br>
                                    <span>{{ summary.paid }}</span>
                                </div>
                                <div class="col m6 s12 offset-s6">
                                    <label>剩余收款</label><br>
                                    <span>{{ summary.balance }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endif %}
            <ul class="collection">
                {% for project in project_list %}
                <a href="{% url 'my_app:project' project.id %}" class="collection-item avatar">
                    <i class="material-icons circle {{ project.status_color }}">{{ project.status_icon }}</i>
                    <span class="title">{{ project.name }}</span>
                    <p>{{ project.contractor }}<br>{{ project.create_date }}</p>
                    <span class="secondary-content badge" data-badge-caption="子项目">
                        {{ project.num_sub_projects }}
                    </span>
                </a>
                {% endfor %}
            </ul>
        {% else %}
            <p>暂无项目.</p>
        {% endif %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        var slide_menu = document.querySelectorAll('.sidenav');
        M.Sidenav.init(slide_menu, {});

        var select = document.querySelectorAll('select');
        M.FormSelect.init(select, {});

        function submit() {
            document.getElementById("project-form").submit();
        }

        var form = document.getElementById("project-form");
        form.elements["select-year"].value = "{{ selected_year }}";
        for (let i = 0; i < form.elements["select-year"].options.length; i++) {
            if (form.elements["select-year"].options[i].value === "{{ selected_year }}") {
                form.elements["select-year"].options[i].selected = true
            }
        }

        var collapsible = document.querySelectorAll('.collapsible');
        M.Collapsible.init(collapsible, {});
    </script>
</body>