{% extends "my_app/index.html" %}
{% block title %}
    <title>Project</title>
{% endblock %}
{% block content %}
    <h4>{{ project.name }}</h4>
    <br>
    <div class="row">
        <div class="col m6 s12">
            <label>合同方</label>
            <br>
            <span>{{ project.contractor }}</span>
        </div>
        <div class="col m6 s12 offset-s6">
            <label>创建时间</label><br>
            <span>{{ project.create_date }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <label>应收款</label>
            <br>
            <span>{{ project.total_receivables }}</span>
        </div>
        <div class="col m6 s12 offset-s6">
            <label>已收款</label><br>
            <span>{{ project.total_paid }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <label>状态</label>
            <br>
            <span>{{ project.status }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label>子项目</label>
            {% if project.num_sub_projects %}
            <table class="striped highlight">
                <thead>
                    <tr>
                        <th>子项目名称</th>
                        <th>单位</th>
                        <th>合同数量</th>
                        <th>施工图数量</th>
                        <th>变改设计</th>
                        <th>变改数量</th>
                        <th>已完成数量</th>
                        <th>应收款</th>
<!--                        <th>已收款</th>-->
                    </tr>
                </thead>
                <tbody>
                    {% for sub_project in project.sub_projects.all %}
                    <tr>
                        <td>{{ sub_project.name }}</td>
                        <td>{{ sub_project.unit }}</td>
                        <td>{{ sub_project.contract_amount }}</td>
                        <td>{{ sub_project.construction_amount }}</td>
                        <td>{% if sub_project.updated %}是{% else %}否{% endif %}</td>
                        <td>{{ sub_project.updated_amount }}</td>
                        <td>{{ sub_project.finished_amount }}</td>
                        <td>{{ sub_project.receivables }}</td>
<!--                        <td>{{ sub_project.paid }}</td>-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <br>
                <span>{{ project.num_sub_projects }}</span>
            {% endif %}
        </div>
    </div>
{% endblock %}