<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="refresh" content="300" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>SunRui</title>
</head>
<body>
<div class="container">
    <h3>孙芮数据页</h3>
    <em>{{current_time}}</em>
    <br/><br/>
    <div class="row">
        <div class="col s6">项目ID : {{project.pro_id}}</div>
        <div class="col s6">项目ID : {{project2.pro_id}}</div>
        <div class="col s6">项目名称 : {{project.title}}</div>
        <div class="col s6">项目名称 : {{project2.title}}</div>
        <div class="col s6">开始时间 : {{starttime}}</div>
        <div class="col s6">开始时间 : {{starttime2}}</div>
        <div class="col s6">结束时间 : {{endtime}}</div>
        <div class="col s6">结束时间 : {{endtime2}}</div>
        <div class="col s6">当前金额 : {{project.current}}</div>
        <div class="col s6">当前金额 : {{project2.current}}</div>
        <div class="col s6">销售件数 : {{project.support_num}}</div>
        <div class="col s6">销售件数 : {{project2.support_num}}</div>
    </div>
    <br/><br/>
    {{myechart_line|safe}}
    <br/><br/>
    {{myechart_pie|safe}}
    {{myechart_pie_6|safe}}
    <br/><br/>
    {{myechart_bar|safe}}
</div>
</body>
<footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s6 offset-s3 center">© ATM Copyright</div>
            </div>
        </div>
    </div>
</footer>